In [3]:
# 3.6 Version
age=10
name='Jelly'
print('제 이름은 {}이고, 나이는 {} 입니다.'.format(name,age))
print(f'제 나이는 {age}입니다. 제 이름은 {name}입니다.')

제 이름은 Jelly이고, 나이는 10 입니다.
제 나이는 10입니다. 제 이름은 Jelly입니다.

In [5]:
for i in range(2,10):
    for j in range(1,10):
        print(f'{i}*{j}= {i*j}')

2*1= 2
2*2= 4
2*3= 6
2*4= 8
2*5= 10
2*6= 12
2*7= 14
2*8= 16
2*9= 18
3*1= 3
3*2= 6
3*3= 9
3*4= 12
3*5= 15
3*6= 18
3*7= 21
3*8= 24
3*9= 27
4*1= 4
4*2= 8
4*3= 12
4*4= 16
4*5= 20
4*6= 24
4*7= 28
4*8= 32
4*9= 36
5*1= 5
5*2= 10
5*3= 15
5*4= 20
5*5= 25
5*6= 30
5*7= 35
5*8= 40
5*9= 45
6*1= 6
6*2= 12
6*3= 18
6*4= 24
6*5= 30
6*6= 36
6*7= 42
6*8= 48
6*9= 54
7*1= 7
7*2= 14
7*3= 21
7*4= 28
7*5= 35
7*6= 42
7*7= 49
7*8= 56
7*9= 63
8*1= 8
8*2= 16
8*3= 24
8*4= 32
8*5= 40
8*6= 48
8*7= 56
8*8= 64
8*9= 72
9*1= 9
9*2= 18
9*3= 27
9*4= 36
9*5= 45
9*6= 54
9*7= 63
9*8= 72
9*9= 81

In [7]:
import datetime

date=datetime.datetime.now()
date

datetime.datetime(2024, 5, 7, 15, 56, 12, 478749)

In [10]:
f'{date: %Y-%m-%d-%A}'

' 2024-05-07-Tuesday'

In [12]:
t=(10,20,30,40)
f'{t[0]} X {t[1]}= {t[2] * t[3]}'

'10 X 20= 1200'

In [21]:
# 문자열 " " 중요

print(f'{"hello":<10}')  #왼쪽정렬
print(f'{"hello":>10}')  #오른쪽정렬
print(f'{"hello":^10}')  #중앙정렬

print(f'{"hello":!<10}')  #나머지 빈칸 느낌표로 채움
print(f'{"hello":=>10}')
print(f'{"hello":~^10}')

hello
     hello
  hello
hello!!!!!
=====hello
~~hello~~~

In [25]:
# 소수점 표현
print(f'{0.456789: 0.2f}') # ㅗ수점 두 자리까지만 표현
print (f'{0.38746862: 0.4f}')

 0.46
 0.3875